.btn-product{
	width: 100%;
}

section{
	backgroung: #fff;
	width: 300px;
	float: left;
	color: #222;
	margin: 2% 4%;
	border: 1px solid #ccc;
	text-align: center;
}

#spring{
	height: 300px;
	width: 300px;
}